{% extends 'index.html' %}
{% load static %}

{% block metadescription %}
{{ product.description|truncatewords:155 }}
{% endblock %}

{% block title %}
{% if category %}
{{ product.name }} - AMAZING STORE
{% endif %}
{% endblock %}

{% block content %}

<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p>
            <a href="{% url 'shop:allProdCat' %}">HOME</a>
            <a href="{{ product.category.get_url }}">{{ product.category }}</a>
            {{ product.name }}
        </p>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-0">
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <h1 class="my_prod_title">{{ product.name }}</h1>
                    <p class="product-price">₹{{ product.price }}</p>
                    <hr>
                    <h3 class="my_title">Product Description</h3>
                    <p class="product-description my_prod_text">{{ product.description }}</p>
                    {% if product.stock <= 0 %}
                        <p class="product-stock my_prod_text"><b>Out of Stock</b></p>
                    {% else %}
                        <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-primary product-add-to-cart-btn">Add to Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block styles %}

<style>
    .my_prod_row_class {
        background-color: #f2f2f2;
        padding: 10px;
        margin-bottom: 20px;
    }
    .my_prod_title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .my_title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .my_prod_text {
        font-size: 18px;
        line-height: 1.5;
    }
    .product-price {
        font-size: 24px;
        font-weight: 700;
        color: #f60;
        margin-bottom: 20px;
    }
    .product-add-to-cart-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #f60;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }
    .product-add-to-cart-btn:hover {
        background-color: #f40;
    }
</style>
{% endblock %}